@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Sacramento&family=Tangerine:wght@700&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --navbg_color: #010007;
  --hover_color: #ef9d10;
  --text_color: #fff;
}
body {
  overflow-x: hidden;
}
.links a {
  color: var(--text_color);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
}
.links li {
  list-style: none;
}

nav {
  line-height: 3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 10vh;
  background-color: var(--navbg_color);
  font-family: "Mosntserrat", sans-serif;
}
.logo {
  color: var(--hover_color);
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 1.5rem;
}
.links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}
.links a:hover {
  color: var(--hover_color);
  transition: 0.4s;
}
.hamburger div {
  width: 1.7rem;
  height: 0.2rem;
  background-color: var(--text_color);
  margin: 0.3rem;
  transition: all 0.4s ease;
}
.hamburger {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .links {
    position: absolute;
    right: 0px;
    height: 100vh;
    background-color: var(--navbg_color);
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 10000;
  }

  .links a:hover {
    color: var(--hover_color);
  }

  .links li {
    opacity: 1;
  }
  .hamburger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes linksFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translate(0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 8px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -8px);
}

.hero-section {
  width: 100%;
}
.hero-container {
  height: 100%;
  position: relative;
}
.hero-image {
  background: url(images/womenfaceblackbackgroundopticalillusionmonochromeclosedeyesbodypaintblackwhite-1644138322573-7151.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  width: 100%;
}
.text {
  position: absolute;
  top: 35%;
  left: 13%;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  width: 70%;
}
.text span {
  color: var(--hover_color);
  font-weight: bolder;
  font-size: 1.3rem;
}
.text h1,
h4,
p {
  padding: 0.4rem;
  letter-spacing: 1;
  font-size: 1.2rem;
}

.text h1 {
  font-size: 1.5rem;
}

.sercices-container {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8)
  );
  width: 100%;
  font-family: "Montserrat", serif;
}
.services {
  width: 90%;
  margin: auto;
  text-align: center;
  padding: 4rem;
}
.services span {
  margin-bottom: 1rem;
  font-size: 2.4rem;
  color: var(--hover_color);
}
.services h2 {
  color: var(--text_color);
  font-size: 2.4rem;
}
.services p {
  color: #fff;
  font-size: 1.4rem;
  padding: 1rem;
  line-height: 1.4;
}
.services h2::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 15%;
  border-bottom: 2px solid var(--hover_color);
  padding: 0.3rem;
}

.services-card {
  display: grid;
  gap: 0.8rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 80%;
  margin: 1 auto;
}

.card {
  text-align: center;
  border-radius: 0.3rem;
  padding: 0.4rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  margin-bottom: 3rem;
}

.card h2 {
  line-height: 1.6;
  padding-bottom: 0.4rem;
  color: var(--text_color);
  font-size: 1.5rem;
}
.card p {
  font-size: 0.9rem;
  width: 100%;
  color: var(--text_color);
  line-height: 1.5;
}

.code-icon a {
  color: var(--hover_color);
  font-size: 3rem;
}
/* end services */

/* start about */
.about-section {
  width: 100%;
  background-color: #fff;
  font-family: "Montserrat", serif;
}

.about-container {
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    position: relative;
    gap: 1rem; */
  margin: 2rem auto;
  display: flex;
}
.about-img img {
  width: 300px;
}

.about-text {
  /* position: absolute;
    left: 40%;
    bottom: 40%;
     */

  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8)
  );
}

.about-content {
  width: 90%;
}
.about-content span {
  color: var(--hover_color);
}

.about-content h2,
h5 {
  text-align: center;
  font-size: 2.4rem;
  padding-top: 1rem;
  color: var(--text_color);
}
.about-container h5 {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}
.about-container p {
  color: var(--text_color);
  font-size: 0.9rem;
}
.about-content h2::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 20%;
  border-bottom: 2px solid var(--hover_color);
  padding: 0.3rem;
}
.download-link a {
  display: inline-block;
  color: var(--hover_color);
  border: 2px solid var(--hover_color);
  padding: 0.5rem 0.9rem;
  text-decoration: none;
  font-size: 1rem;
  margin-top: 1rem;
  border-radius: 0.2rem;
}
.download-link a:hover {
  color: var(--text_color);
  border-color: var(--text_color);
  transition: 0.3rem;
}
.download-link {
  text-align: center;
}
/* end of about */

/* start of contact info */
.contact-section {
  width: 100%;
padding-bottom: 3rem;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8)
  );  
  font-family: "Montserrat", serif;

}
.contact-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
}
.form {
  width: 100%;
  margin-top: 2rem;
}

.contact-text {
  width: 90%;
}

.contact-section span {
  color: var(--hover_color);
}
.contact-section h2 {
  text-align: center;
  font-size: 2.4rem;
  padding: 2.5rem;
  color: var(--text_color);
}

.contact-section h2::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 10%;
  border-bottom: 2px solid var(--hover_color);
  padding: 0.3rem;
}
.get {
  font-size: 1.5rem;
  font-weight: bolder;
  color: var(--text_color);
}
.contact-text {
  font-size: 0.9rem;
  margin-bottom: 0.6rem;
  color: var(--text_color);
}

.contact-info {
  display: flex;
  padding-top: 0.9rem;
}
.address-icon i {
  display: inline-block;
  color: var(--hover_color);
  margin-left: 3px;
  font-size: 1.5rem;
}
.address {
  padding-left: 0.8rem;
}
.address h3 {
  font-weight: bolder;
  font-size: 1rem;
  color: var(--text_color);
}
.address p {
  font-size: 0.8rem;
  font-weight: bolder;
  color: var(--text_color);
}

.form-details {
  padding-top: 0.7rem;
}
.form-details input {
  padding: 0.6rem;
  outline: none;
  border: 2px solid black;
  width: 49.5%;
  border-radius: 0.3rem;
  margin-top: 0.4rem;
}

.form textarea {
  margin-top: 0.4rem;
}
.send-message a {
  text-decoration: none;
  color: var(--hover_color);
  border: 2px solid var(--hover_color);
  padding: 0.5rem 0.9rem;
  margin-top: 0.7rem;
  display: inline-block;
  border-radius: 0.2em;
  font-size: 1rem;
}
.send-message a:hover {
  border-color: var(--text_color);
  color: var(--text_color);
  transition: 0.3s;
}

.social-icons {
  margin-top: 1.5rem;
}
.social-icons a {
  display: inline-block;
color: var(--hover_color);
font-size: 1.3rem;
  padding: 0.8rem .3rem;

}
.social-icons a:hover{
    color: var(--text_color);
transform: scale(0.5);
transition: .3s;
}
/* end contact */
